# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json

# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Environment
.env

# OS
.DS_Store
Thumbs.db